layout {
  pane split_direction="vertical" {
    pane name="neovim" borderless=true focus=true command="nvim" args="."
    pane {
      pane name="dev 1" borderless=false
      pane name="dev 2" borderless=false
      pane name="dev 3" borderless=false
    }
  }

  pane size=1 borderless=true {
    plugin location="zellij:compact-bar"
  }
}
